{% load static %}

<div class="header-banner-area">
  <div class="general-header-area">
    <nav class="navbar p-0 navbar-expand-lg navbar-light">
      <div class="container p-0">
        <a class="navbar-brand ms-3" href="/">
          <img id="logo-dark" src="{% static 'images/LOGOlogo.png' %}" alt="" />
          <img
            id="logo-light"
            style="object-fit: cover; display: none"
            src="{% static 'images/LOGOlogo.png' %}"
            alt=""
          />
        </a>
        <button
          id="open"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <img src="{% static 'images/i13.png' %}" alt="" />
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav-wrapper">
            <div>
              <li class="custom-nav-item m-0" style="background: #8e2157">
                <div
                  class="d-flex flex-column justify-content-between"
                  style="height: 120px"
                >
                  <div class="d-flex">
                    <a class="navbar-brand ms-3" href="/">
                      <img src="{% static 'images/LOGOlogo.png' %}" />
                    </a>
                    <button
                      id="close"
                      class="navbar-toggler"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#navbarNav"
                      aria-controls="navbarNav"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon">
                        <i class="fa-solid fa-xmark" style="color: #ffffff"></i>
                        <!-- <img src="{% static 'images/i13.png' %}" /> -->
                      </span>
                    </button>
                  </div>
                  <div class="innar-header-nav-item">
                    <div class="register m-3">
                      {% if user.is_authenticated %}
                      <a class="text-white" href="{% url 'account_logout' %}"
                        >Logout</a
                      >
                      {% else %}
                      <a class="text-white" href="{% url 'account_login' %}"
                        >Login</a
                      >
                      <span class="text-white">|</span>
                      <a class="text-white" href="{% url 'account_signup' %}"
                        >Sign up</a
                      >
                      {% endif %}
                    </div>
                  </div>
                </div>
              </li>
            </div>
            <ul class="navbar-nav">
              <li class="custom-nav-item position-relative border-bottom">
                <input
                  class="py-2 px-3 my-2 mx-1"
                  type="text"
                  placeholder="search"
                  style="border: 0; border-radius: 20px; width: 98%"
                />
                <button
                  class="btn position-absolute"
                  type="submit"
                  style="top: 20%; right: 10px"
                >
                  <i
                    class="fa-light fa-magnifying-glass"
                    style="color: #000000"
                  ></i>
                </button>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard-mybookings' %}"
                  >My booking</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Explore</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="">Privilege Club</a>
              </li>

             
          
              <li class="nav-item hidden">
                <a class="nav-link text-muted fs-sm" href="">Flight Status</a>
              </li>
              <li class="nav-item hidden">
                <a class="nav-link text-muted fs-sm" href="">Help</a>
              </li>
        
            </ul>
          </div>
        </div>

        <div class="header-right">
          <div class="search d-none">Help</div>
          <div class="country text-uppercase">EN</div>
          <div class="register">
            {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'account_login' %}">Login</a>
            |
            <a href="{% url 'account_signup' %}">Sign up</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<script>
  const navbar = document.getElementById("navbarNav");
  document.getElementById("close").addEventListener("click", () => {
    document
      .getElementsByTagName("body")[0]
      .classList.remove("overflow-hidden");
    console.log("webfe");
  });

  document.getElementById("open").addEventListener("click", () => {
    document.getElementsByTagName("body")[0].classList.add("overflow-hidden");
  });
</script>
