{% extends "layouts/base-new.html" %}
 {% load i18n %}
  {% block header %}
   {% include "layouts/header.html" %}
    {% endblock header %}
     {% block content %}
<main class="main d-flex justify-content-center">
  <div class="singin-singup-card border p-4 mt-5">
    <div class="centering-wrap d-flex justify-content-center">
      <div class="signup-form">
        <header class="s-title">
          <h2>Password Reset</h2>
        </header>
        <p class="my-3 font-sm">
          <small style="font-size: 13px;">
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
          </small>
        </p>

        <form
          method="POST"
          action="{% url 'account_reset_password' %}"
          class="password_reset"
        >
          {% csrf_token %}
          <div>{{form.non_field_errors}}</div>
          <div class="f-item full-width">
            <!-- {{ form.as_p }} -->
            <span>
              <div
                class="brand-group-input d-flex align-items-center border rounded error"
              >
                <div class="icon px-1"><i class="fas fa-envelope"></i></div>
                <div class="flex-grow-1">
                  <div role="group" class="form-group m-0">
                    <label for="login" class="d-block">Email</label>
                    <div>
                      <div role="group" class="input-group">
                        <input
                          id="login"
                          name="email"
                          type="email"
                          placeholder="someone@example.com"
                          autocomplete="email"
                          class="bg-transparent border-0 p-0 m-0 rounded-0 form-control"
                          {%
                          if
                          form.email.value
                          %}value="{{ form.email.value }}"
                          {%
                          endif
                          %}
                        /><!---->
                        <div
                          data-lastpass-icon-root="true"
                          style="
                            position: relative !important;
                            height: 0px !important;
                            width: 0px !important;
                            float: left !important;
                          "
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% if form.email.errors %}<small class="text-danger"
                >{{ form.email.errors }}</small
              >{% endif %}
            </span>
          </div>

          <div class="f-item checkbox full-width">
            <input
              type="submit"
              id="register"
              name="{% trans 'Reset My Password' %}"
              value="Reset My Password"
              class="gradient-button btn btn-primary login-button"
            />
            <!-- <input type="submit" id="register" name="{% trans 'Reset My Password' %}" value="{% trans 'Reset My Password' %}" class="gradient-button" /> -->
          </div>
        </form>
        <p class="my-3">
          <small>
            {% blocktrans %}Please contact us if you have any trouble reseting
            your password.{% endblocktrans %}
          </small>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
